:host {
  width: 100%;
  max-width: 40rem;
}

mat-card {
  padding: 1rem;

  .column-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  button {
    color: white;

    &.valid {
      background-color: green;
    }

    &.invalid {
      background-color: grey;
    }
  }
}

